
.footerMobile {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  padding: 10px 0;
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  .mobileButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    .button {
      max-width: 25%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      gap: 15px ;
      svg {
        font-size: 25px;
        color: #222222;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .footerMobile {
    display: flex;
  }
}