@import "../../../Variables/Variables.module.scss";
.mark {
    position: relative;
    width: min-content;
    white-space: nowrap;
    &::after {
        content: "";
        position: absolute;
        right: -38px;
        top: 0;
        font-size: 10px;
        color: white;
        padding: 4px 8px;
    }
    &.new {
        &::after {
            content: "NEW";
            background-color: #eebe19;
        }
    }
    &.hot {
        &::after {
            content: "HOT";
            background-color: $green-color
        }
    }

}
nav {
    display: flex;
    align-items: center;
    &.newDropDownPosition {
        .navItem {
            .dropDown {
                &.homeDropDown {
                    left: -215%;
                }
                &.shopDropDown{
                    left: -340%;

                }
                &.elementsDropDown {
                    left: -290%;
                }
                &.blogDropDown {
                    left: -400%;
                }
            }

        }
    }
    .navItem {
        position: relative;
        display: flex;
        padding: 20px;

        .dropDown {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px 100px 20px 10px;
            left: 0;
            top: 55px;
            transition: opacity $transition;
            pointer-events: none;
            z-index: 1;
            opacity: 0;
            &.homeDropDown {
                left: -400%;
                padding: 20px 20px 20px 10px;
                box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);

                .dropdownRow {
                    display: flex;

                    .dropdownItem {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-size: 16px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                    }
                }


            }
            &.shopDropDown {
                left: -620%;
                width: 1170px;
                padding: 50px 35px 35px 70px;
                box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
                display: flex;
                flex-direction: row;
                gap: 220px;

                .shopDropdownColumn {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 10px;
                    a {
                        padding: 10px 10px 10px 0;
                    }

                    h3 {
                        padding-left: 10px;
                        font-size: 13px;
                        font-weight: 700;
                        position: relative;
                        margin-bottom: 25px;
                        &.bottomHeading {
                            margin-top: 25px;
                        }

                        span {
                            position: absolute;
                            display: block;
                            width: 2px;
                            height: 15px;
                            background-color: $green-color;
                            left: 0;
                            top: 15%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            &.elementsDropDown {
                left: -410%;
                width: 1170px;
                padding: 35px;
                box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
                display: flex;
                flex-direction: row;
                gap: 220px;

                .elementsDropdownColumn {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    a {
                        padding: 10px 10px 10px 0;
                    }

                    h3 {
                        padding-left: 10px;
                        font-size: 13px;
                        font-weight: 700;
                        position: relative;
                        margin-bottom: 20px;

                        span {
                            position: absolute;
                            display: block;
                            width: 2px;
                            height: 15px;
                            background-color: $green-color;
                            left: 0;
                            top: 15%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            &.blogDropDown {
                left: -410%;
                width: 800px;
                padding: 35px 35px 35px 50px;
                box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
                display: flex;
                flex-direction: row;
                gap: 100px;


                .blogDropdownColumn {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    position: relative;
                    a {
                        padding: 10px 10px 10px 0;
                    }

                    h3 {
                        font-size: 13px;
                        font-weight: 700;
                        position: relative;
                        margin-bottom: 20px;
                        padding-left: 10px;
                        &.bottomHeading {
                            margin-top: 35px;
                        }

                        span {
                            position: absolute;
                            display: block;
                            width: 2px;
                            height: 15px;
                            background-color: $green-color;
                            left: 0;
                            top: 15%;
                            transform: translateY(-50%);
                        }
                    }

                }
                .imageWrapper {
                    max-width: 320px;
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 4;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;

                    }
                }

            }
            a {
                padding: 10px;
                white-space: nowrap;
                color: #868686;

                &:hover {
                    color: $green-color;
                }
            }
        }
        a {
            position: relative;
            font-weight: 600;
            z-index: 2;
        }
        &:hover {
            .dropDown {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    nav {
        .navItem {
            .dropDown {
                &.shopDropDown {
                    left: -400%;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    nav {
        .navItem {
            .dropDown {
                &.homeDropDown {
                    left: -300%;
                }
                &.shopDropDown {
                    left: -350%;
                }
                &.elementsDropDown {
                    left: -370%;
                }
            }
        }
    }
}
