@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
@keyframes scaler {
  0% { transform: scale(1); }
  16% { transform: scale(0.7); }
  32% { transform: scale(1); }
  48% { transform: scale(0.8); }
  64% { transform: scale(1); }
  85% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

