@import "../../../Variables/Variables.module.scss";

.headerWrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

  &.headerActive {
    background-color: white;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    position: fixed;
    .headerContent {
      padding: 5px 15px;
      .headerMidSide {
        .logo {
          display: none;
        }
      }
    }
  }
  .headerContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .headerMidSide {
      max-width: 1130px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .navigationContainer {
        max-width: 1200px;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .headerControl {
      max-width: 250px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
      padding-right: 25px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1128px) {
.headerWrapper {
  .headerContent {
    .headerControl {
      max-width: 140px;
    }
    .headerMidSide {
      .navigationContainer {
        display: none;
      }
    }
  }
}
}
@media screen and (max-width: 844px) {
  .headerWrapper {
    .headerContent {
      align-items: center;
      .headerMidSide {
        .navigationContainer {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .headerWrapper {
    .headerContent {
      gap: 10px;
      .headerControl {
        padding-right: 0;
        max-width: 75px;
      }
    }
  }
}
