@import "../../../Variables/Variables.module.scss";

.sectionTitle {
  max-width: 490px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 0 50px 0;
  h2 {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    span {
      width: 40px;
      height: 2px;
      background-color: $green-color;

    }
  }

  p {
    color: #868686;
    text-align: center;
    line-height: 28px;
  }
}
@media screen and (max-width: 800px) {
  .sectionTitle {
    padding: 25px 15px;
    h2 {
      text-align: center;
      font-size: 22px;
    }
  }
}
