@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";

.sponsorsContainer {
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  justify-content: center;
  .sponsorsContent {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    padding: 75px 15px;
    justify-content: space-between;
  }
  .sponsor {
    width: 100%;
    max-width: 186px;
    height: 93px;

    &:hover {
      img {
        animation: blink 0.3s ease, scaler 0.6s ease;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
@media screen and (max-width:  1250px) {
  .sponsorsContainer {
    .sponsorsContent {
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 15px;
      gap: 35px;

    }
  }
}