@import "./Variables/Variables.module.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  font-family: $main-font;

}
a {
  text-decoration: none;
  transition: color $transition;
  color: #000;
  &:hover {
    color: $green-color;
  }
}

